<!DOCTYPE HTML>
<html>
<!--Title -->
	<title>
		The Eoin Zone
	</title>
	<!-- beginning of body -->
<body BGCOLOR = "black">
	<!-- Beginning of header tag and Nav menu -->
	<header>
		<nav>

					<table cellspacing="20" align = center width = "400" cellpadding = "" bgcolor = "black">

						<TR align = center>
						<td><A HREF= "homepage.html"><IMG  SRC="resources/me.jpg" width = "250" height = "200" ALT = "If you can see this the image hasn't loaded properly"></a></td>
						<td><A HREF="hobbiesPage.html"><IMG  SRC="resources/hobbiesPage2.gif" width = "250" height = "200" ALT = "If you can see this the image hasn't loaded properly"></a></td>
						<td><A HREF="travelPage.html"><IMG  SRC="resources/travelPage.gif" width = "250" height = "200" ALT = "If you can see this the image hasn't loaded properly"></a></td>
						<td><A HREF="aboutMe.html"><IMG  SRC="resources/aboutMe.gif" width = "250" height = "200" ALT = "If you can see this the image hasn't loaded properly"></a></td>
						</TR>
					</table>
			</nav>
		</header>
		<div align = center style = "font-family:courier"><font color = "white">

			<table height = 500 width = 800>

					<tbody>
						<tr>
						<td>
									<h1><b><u>About me?</B></U></h1>
						</td>
						</tr>
					<tr>
					<td>
						<p style = LINE-HEIGHT:21px>Well there's not a ton to know other than I was born and raised in Portlaoise. Been trapped in this twilight zone of the midlands the last 25 years but I've looked for any way out when I can.
							My biggest personal achievement is my weight loss.
							At my heaviest I weighed about 28 stone and could only fit into a 5XL shirt size!Took me about two years to drop over 14 stone and despite a few recent slip ups I feel I’m in great shape.

					</td>
					<td><IMG SRC ="resources/weightLoss.jpg" height = "450" width = "450"></img></td>
					</tr>

				</tbody>
			</table><BR><BR>

			<P align = center style = LINE-HEIGHT:21px> I've also got a dog! Her name is Jessie and she's a miniature schnauzer.<br><br>
				In case you were wondering, her favourite food is chicken and she likes ear scratches. </p><br>

				<img SRC = "resources/jessie.jpg" height = "600" width = "1000"></img>

			</div>
		</font>
		</body>
		<BR><BR><BR>

			<BR><BR><BR>

	<footer>
					<nav>
					 <table align = center>
						 <tr>
							 <td>
								 <font size = "5">
									<table border = "20"  width = "500" cellpadding = "12" bgcolor = "grey">
										<TR align = center>
											<td><A HREF="mailto:c00164354@itcarlow.ie"><b>Email me!<b></a></td>
												</TR>
										</td>
										</tr>
										</table>
									</table>
								</nav>
							</footer>
</html>
