<!DOCTYPE HTML>
<html>
<!--Title -->
	<title>
		The Eoin Zone
	</title>
	<!-- beginning of body -->
<body BGCOLOR = "black">
	<!-- Beginning of header tag and Nav menu -->
	<header>
		<nav>

					<table cellspacing="20" align = center width = "400" cellpadding = "" bgcolor = "black">

						<TR align = center>
						<td><A HREF= "homepage.html"><IMG  SRC="resources/me.jpg" width = "250" height = "200" ALT = "If you can see this the image hasn't loaded properly"></a></td>
						<td><A HREF="hobbiesPage.html"><IMG  SRC="resources/hobbiesPage2.gif" width = "250" height = "200" ALT = "If you can see this the image hasn't loaded properly"></a></td>
						<td><A HREF="travelPage.html"><IMG  SRC="resources/travelPage.gif" width = "250" height = "200" ALT = "If you can see this the image hasn't loaded properly"></a></td>
						<td><A HREF="aboutMe.html"><IMG  SRC="resources/aboutMe.gif" width = "250" height = "200" ALT = "If you can see this the image hasn't loaded properly"></a></td>
						</TR>
					</table>
			</nav>
		</header>

<div align = center style = "font-family:courier"><font color = "white">

	<table height = 500 width = 800>
		<th align = "center" colspan="2">
			<h1><b><u>My Hobbies</u></b></h1>
	</th>
			<tbody>
				<tr>
				<td>
							<h1><b><u>Cooking</B></U></h1>
				</td>
				</tr>
			<tr>
			<td>
				<p style = LINE-HEIGHT:21px>I’ve got a huge love for cooking my own meals. While being a broke student can be tough at times,
				you’d be surprised how cheap you can crack out some really amazing dishes found online.
				My current obsession is making wraps with Cajun-style roast chicken breasts and rashers.
				<br><br>While there’s a hundred different ways to cook a chicken breast, seasoning is key.
				<br><br>Here’s a <a HREF style="color:yellow" "https://www.spendwithpennies.com/cajun-seasoning/"><b>link</b></a> to the Cajun seasoning I use!</td>
			<td><IMG SRC ="resources/chickenWrap.jpg" height = "300" width = "400"></img></td>
			</tr>

			<tr>
			<td>
				<td>
					<h1><b><u>Video Games</B></U></h1>
			</td>
			</tr>

			<tr>
			<td>
						<IMG SRC = "resources/metalGearCart.jpg" height = "300" width = "400">
			</td>
			<td>
				<p style = LINE-HEIGHT:21PX>Video games have been part of my life ever since I was about three years old. I play anything bar
					sports games and my most impressive accomplishment is beating Starcraft 1 at six years old. I also use my passion for games
					to support charity with my yearly 24-hour gaming marathons. Last year I raised over €500 in support of the Trans Equality
					Network of Ireland, the Midlands Simon Community and Pieta House. If you want, you can follow me on
					<a HREF style="color:yellow" "https://www.twitch.tv/eoinfar"><b>Twitch<b></a> to find out next time to support me!
			</td>
			</tr>
		</tbody>
	</table>
	</font>
	</div>
</body>

<BR><BR><BR>

<footer>
				<nav>
				 <table align = center>
					 <tr>
						 <td>
								<table border = "20"  width = "500" cellpadding = "12" bgcolor = "grey">
									<font size = "5">
									<TR align = center>
									<td><A HREF="mailto:c00164354@itcarlow.ie"><b>Email me!<b></a></td>
									</TR>
									</font>
							</td>
							</tr>
							</table>
						</table>
					</nav>
				</footer>
</html>
