<!DOCTYPE HTML>
<html>
<!--Title -->
	<title>
		The Eoin Zone
	</title>
	<!-- beginning of body -->
<body BGCOLOR = "black">
	<!-- Beginning of header tag and Nav menu -->
	<header>
		<nav>

					<table cellspacing="20" align = center width = "400" cellpadding = "" bgcolor = "black">

						<TR align = center>
						<td><A HREF= "homepage.html"><IMG  SRC="resources/me.jpg" width = "250" height = "200" ALT = "If you can see this the image hasn't loaded properly"></a></td>
						<td><A HREF="hobbiesPage.html"><IMG  SRC="resources/hobbiesPage2.gif" width = "250" height = "200" ALT = "If you can see this the image hasn't loaded properly"></a></td>
						<td><A HREF="travelPage.html"><IMG  SRC="resources/travelPage.gif" width = "250" height = "200" ALT = "If you can see this the image hasn't loaded properly"></a></td>
						<td><A HREF="aboutMe.html"><IMG  SRC="resources/aboutMe.gif" width = "250" height = "200" ALT = "If you can see this the image hasn't loaded properly"></a></td>
						</TR>
					</table>
			</nav>
		</header>
<div align = center style = "font-family:courier"><font color = "white">
	<h1>Software student, astronaut, liar.</h1>

		<table height = 50 width = 800>
			<tr><td>
			<h2 align = center><u> Welcome! My name is Eoin and here's some facts:</u><br><br></h2>

			<ul style="list-style-type:bullet">
			  <li>I’m a student at IT Carlow learning to code in HTML (And a bunch more!)</li>
			  <li>This website is part of an assignment, so I hope you enjoy the site.</li>
			  <li>I'm from Portlaoise, County Laois.</li>
			</ul>
			<br><br>
			<u>My likes:</u>
			<ul style="list-style-type:disc">
				<li>Video games.</li>
				<li>Punk music.</li>
				<li>Travel.</li>
				<li>Learning to code.</li>
				<li>Concerts.</li>
			</ul>
			<br><br>
			<u>My dislikes are:</u>
			<ul style="list-style-type:disc">
				<li>Oasis (The band).</li>
				<li>Liam Gallagher (From Oasis (The band)).</li>
				<li>Getting up far too early.</li>
				<li>Retail work.</li>
				<li>Handing in late assignments.</li>

			</ul>
			<br><br>

			<p style = LINE-HEIGHT:21px>While you’re here, you can check out a few things about my life including my <b><a HREF= "hobbiesPage.html" style="color:yellow">Hobbies</a></b>, my <b><a HREF="travelPage.html" style="color:yellow">Travels</a></b> and a more in-depth <b><a HREF = "aboutMe.html" style = "color:yellow">About Me</a></b> section!

			And hey, if you want to learn how to do what I’m doing you can by studying at <b><A HREF= "https://www.itcarlow.ie/" style="color:yellow">IT Carlow</a></b> like me or even check out
			W3Schools to get an early head start on your path to <b><A HREF= "https://www.w3schools.com/" style="color:yellow">HTML</A></b>.</p>
			<br><br><br><br>
		</tr></td>
		</table>
	</font>
	</div>
</body>

<BR><BR><BR>

<footer>
				<nav>
				 <table align = center>
					 <tr>
						 <td>
							<font size = "5">
								<table border = "20"  width = "500" cellpadding = "12" bgcolor = "grey">
									<TR align = center>
									<td><A HREF="mailto:c00164354@itcarlow.ie"><b>Email me!<b></a></td>
									</TR>
									</font>
							</td>
							</tr>
							</table>
						</table>
					</nav>
				</footer>
</html>
