<!DOCTYPE HTML>
<html>
<!--Title -->
	<title>
		The Eoin Zone
	</title>
	<!-- beginning of body -->
<body BGCOLOR = "black">
	<!-- Beginning of header tag and Nav menu -->
	<header>
		<nav>

					<table cellspacing="20" align = center width = "400" cellpadding = "" bgcolor = "black">

						<TR align = center>
						<td><A HREF= "homepage.html"><IMG  SRC="resources/me.jpg" width = "250" height = "200" ALT = "If you can see this the image hasn't loaded properly"></a></td>
						<td><A HREF="hobbiesPage.html"><IMG  SRC="resources/hobbiesPage2.gif" width = "250" height = "200" ALT = "If you can see this the image hasn't loaded properly"></a></td>
						<td><A HREF="travelPage.html"><IMG  SRC="resources/travelPage.gif" width = "250" height = "200" ALT = "If you can see this the image hasn't loaded properly"></a></td>
						<td><A HREF="aboutMe.html"><IMG  SRC="resources/aboutMe.gif" width = "250" height = "200" ALT = "If you can see this the image hasn't loaded properly"></a></td>
						</TR>
					</table>
			</nav>
		</header>

		<div align = center style = "font-family:courier"><font color = "white">
			<h1><u><B>Travel</u></B></h1>

				<table height = 50 width = 800>
					<tr><td>
						<P>Getting out of the midlands has been my top priority since I was old enough to travel solo to the
							UK and last summer was no different. I took a two-week lark through mainland Europe over two weeks.
							I hit up Paris, Berlin and Amsterdam and personally, my favourite spot was definitely Berlin. It had such
							a cool vibe and was almost akin to a cheaper Dublin so I definitely recommend it.<p>

					<img = center SRC = "resources/brandenBurg.jpg" height = "400" width = "770"><br><br>

							A big part of my travels is to visit friends I made online through clients like TeamSpeak, Ventrilo and Discord. They’ve been a major component of my life and I wouldn’t be here without them. Here’s a little collage of all my friends and places I visited over my Europe trip.
					<img = center SRC = "resources/europeMontage.jpg" height = "400" width = "770"><br><br>

					<br><br>
				</tr></td>
				</table>
			</div>
		</font>
		</body>

		<BR><BR><BR>

<footer>
					<nav>
					 <table align = center>
						 <tr>
							 <td>
								<font size = "5">
									<table border = "20"  width = "500" cellpadding = "12" bgcolor = "grey">

											<TR align = center>
											<td><A HREF="mailto:c00164354@itcarlow.ie"><b>Email me!<b></a></td>
											</TR>
											</font>
									</td>
									</tr>
									</table>
								</table>
							</nav>
						</footer>
		</html>
