*{
	color: white;
	background-color:black;
	margin:0px;
	padding:0px;
}

h1{
	font-weight = bold;
	color: white;
	width:50%;
	margin:auto;
	margin-top: 20px;
	text-align: center;
}

a{
	color: black;
}
a:hover{
	color: #006B38FF;
}

iframe{
	margin:50px;
}

p > a{
	color: white;
}

table{
	border: 1px solid white;
	width:100%;
	margin-bottom: 10px;
}

#menuBar > ul{
	background-color:grey;
	padding: 15px 10px;
}
#menuBar > ul > li{
	display:inline;
	padding:inherit;
	background-color:inherit;
	color:black;

}
#menuBar > ul > li>a:hover{
	background-color:black;
}
#menuBar > ul > li > a{
	background-color:inherit;
	padding:inherit;
	font-weight:bold;
	font-size: 24px;
	text-decoration:none;
	text-align:center;
}

#mainContent{
	width:50%;
	margin:auto;
	margin-top: 50px;
	text-align: center;
}
#guestBook{
	margin: 10px;
	display: inline-block;
}
#guestBook > input{
	margin-top: 10px;
	display: block;
	text-align: center;
}
#guestBook > input[type=submit]{
	display: inline-block;
	width: 100px;
}
#guestBook > textarea{
	resize:none;
	display: block;
	margin: inherit;
	height:50px;
	width: auto;
}

#cvTable{
	text-align: left;
}
#cvTable > tbody > tr > td{
	border-top: 1px solid white;
}

#cvTable > tbody > tr > td > ul{
	list-style-position: inside;
	margin: 20px;
	font-size: 12px;
}

#cvTable > tbody > tr > td > ul> li{
	margin-bottom: 15px;
}

#cvTable > tbody > tr > td > h2{
	margin-left: 15px;
}

#techList{
	list-style-type: none;
}
#techList > ul{
	margin-top: 20px;
}
.nestedTable{
	margin-left: 50px;
	margin-top: 20px;
	border: none;
}
.nestedTable > tbody > tr > th{
	margin-top: 10px;
}

.nestedTable > tbody > tr > td > ul{
	margin: 10px;
}

.nestedTable > tbody > tr > td > ul > li{
	margin-top: 10px;
	margin-left: 20px;
	font-size: 12px;

}
.nestedTable > tbody > tr > td > ul > li > a{
	color:white;
}
.nestedTable > tbody > tr > td > ul > li > a:hover{
	color:white;
}
