*{
	color: white;
	background-color:black;
	margin:0px;
	padding:0px;
}

h1{
	font-weight = bold;
	color: white;
}

a{
	color: black;
}
a:hover{
	color: #006B38FF;
}

#menuBar > ul{
	background-color:grey;
    width:100%;
	padding: 15px 10px;
}
#menuBar > ul > li{
	display:inline;
	padding:inherit;
	background-color:inherit;
	color:black;

}
#menuBar > ul > li>a:hover{
	background-color:black;
}
#menuBar > ul > li > a{
	background-color:inherit;
	padding:inherit;
	font-weight:bold;
	font-size: 24px;
	text-decoration:none;
	text-align:center;
}

#homePage{
	width:50%;
	margin:auto;
	margin-top: 50px;
	text-align: center;
}
#guestBook{
	margin: 10px;
	display: inline-block;
}
#guestBook > input{
	margin-top: 10px;
	display: block;
	text-align: center;
}
#guestBook > input[type=submit]{
	display: inline-block;
	width: 100px;
}
#guestBook > textarea{
	resize:none;
	display: block;
	margin: inherit;
	height:50px;
	width: auto;
}
