{#
  Title:    arduino.html
  Author:   Eoin Farrell
  DOC:      05/11/2020
#}

{%	extends "base.html"	%}

{%	block main_content	%}
  <h1> Hey kid, you wanna make some circuits? </h1>
  <br>
  <p>Back in first year, my Hardware lecturer introduced us to the wonderful world of Arduino. We used sensors, lights and other assorted gizmos to learn how
      data can read in with electrical signals. I extended my curiosities into figuring out how my video game controllers work.
    <br>
    <img SRC = "static/resources/img/DS4.jpg" height = "600" width = "400"></img>
    <br>
    After a little while, I took to learning how the analog and digital signals are sent through the controllers and that's actually part of
      what made me look into <a href="/assistiveTech">Assistive Technology in the first place!</a>
    <br>
    <br>
    <img SRC = "static/resources/img/arduino1.jpg" height = "400" width = "600"></img>
    <br>
    Since then, I picked up this little Uno kit from Amazon and spent some hours tinkering away but my long-term plan is to take what I've learned
      both from my Hardware classes and my controllers to make a miniature Tetris board. For now I'm happy making lights go blink until I learn more though.
  </p>
  <br>
{%	endblock	%}
