{#
  Title:    assistiveTech.html
  Author:   Eoin Farrell
  DOC:      05/11/2020
#}

{%	extends "base.html"	%}

{%	block main_content	%}
<div id="mainContent">
  <h1> Assistive Technology </h1>
  <br>
  <p>Before I pursued by degree in software, I was raising money each year for a charity called <a href="https://www.extra-life.org/" target="_blank">Extra Life</a>.
    They fundraise to help support children's hospitals across the US, one of which was for kids with physical disorders.
    Because I raised money by streaming video games on the internet, I started to think about how does someone with cerebral palsy
    get to play video games?
    <br>
    <img SRC = "static/resources/img/xb1AC.png" height = "400" width = "600"></img>
    <br>
    As a sufferer of dyspraxia, I recognized that my limitations didn't extend towards video games; it was why I had taken up the hobby
    in the first place. It was all hand-eye coordination but I didn't need balance like for skateboarding, I didn't need upper body strength for
    the few sports I did enjoy. So how does someone who has <b>none</b> of these abilities enjoy even the most menial of games?
    <br>
    <br>
    As it turns out, there's already a wealth of work and dedication from organisations like <a href="https://www.enableireland.ie/services/assistive-technology" target="_blank">Enable Ireland</a>
     and <a href="http://atmakers.org/" target="_blank">ATMakers</a>.
    In fact, Microsoft even have their own brand new <a href="https://www.xbox.com/en-US/accessories/controllers/xbox-adaptive-controller" target="_blank">Xbox Adaptive Controller</a> to provide an interface for makers to map custom components onto
    the control schemes for their console. Check it out below.
  </p>
<iframe
width="560"
height="315"
src="https://www.youtube.com/embed/9fcK19CAjWM"
frameborder="0"
allow="accelerometer; autoplay;
        clipboard-write;
        encrypted-media;
        picture-in-picture"
allowfullscreen>
</iframe>

</div>
{%	endblock	%}
