<!DOCTYPE HTML>
<html>

	<head>
		<meta charset = "UTF-8">
		<link rel = "stylesheet" type="text/css" href="static/style/design.css"/>
	<title>
		{{ main_title }}
	</title>
	</head>
	<div id = "menuBar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/personalPage">About Me!</a></li>
			<li><a href="homePage.html">CV</a></li>
			<li><a href="homePage.html">Tech Interests</a></li>
			<li><a href="homePage.html">Personal Interests</a></li>
		</ul>
	</div>
	<body>
		{%	block main_content	%}
		{%	endblock	%}
	</body>

	<footer>
	</footer>
</html>
