{#
  Title:      CV.html
  Author:     Eoin Farrell
  DOC:        01/11/2020
#}
{%	extends "base.html"	%}
{% set metaTitle = "cv" %}
{%  block main_content  %}
  <table id="cvTable">
    <tr>
      <th>
        <h1>Eoin Farrell</h1>
      </th>
    </tr>
    <tr>
      <td>
        <ul>
          <li>Currently studying B.Sc (Honours) in Computing in Software Development with a current 1:1
            tracking grade to date.
          </li>
          <li>Strong grasp of Object Oriented Programming and software design with proficiency in Java
            and UML.
          </li>
          <li>Greater understanding of web-based languages HTML5, PHP, CSS3 alongside database
            management skills using MySQL.
          </li>
          <li>Currently learning C++, Python and Arduino.
          </li>
          <li>Four years work experience in the retail sector working as part of a team with a customer-
            focused attitude.
          </li>
          <li>Goal-oriented and motivated to achieve the best results in both professional and academic
            projects. Results oriented.
          </li>
          <li>Strong analytical and problem solving skills with the ability to work independently. Excellent
            verbal and written communication skills.
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <h2>Education</h2>
      </td>
    </tr>
    <td>
      <table class="nestedTable">
        <tr>
          <th>
            2018 - 2022
          </th>
        </tr>
        <tr>
          <td>Carlow Institude of Technology
          </td>
        </tr>
        <tr>
          <td>
            <ul>
              B. Sc (Hons) in Software Development (Level 8)
              <li>GPA Y2 - 78%</li>
              <li>GPA Y1 - 77%</li>
            </ul>
          </td>
        </tr>
      </table>
    </td>
    <tr>
      <td>
        <h2>Work Experience</h2>
      </td>
    </tr>
    <td>
      <table class="nestedTable">
        <tr>
          <th>
            2018 - 2020
          </th>
        </tr>
        <tr>
          <td>Vans Kildare Village
          </td>
        </tr>
        <tr>
          <td>
            <ul>
              Sales Assistant
              <li>Maintained a strong focus on teamwork and accountability to foster a positive,
                successful sales environment.
              </li>
              <li>Performed sales and upsell coaching to co-workers to ensure targets and
                milestones were achieved.
              </li>
              <li>Dealt with customer inquiries while maintaining high standards on store floor.</li>
              <li>Lead the initiative to develop new store merchandising and sales opportunities.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>
            2016 - 2018
          </th>
        </tr>
        <tr>
          <td>GameStop Portlaoise
          </td>
        </tr>
        <tr>
          <td>
            <ul>
              Sales Assistant / Keyholder
              <li>Strove to drive strong sales, both in individual and team-lead environments.</li>
              <li>Dealing with customers at sales till as well as on the store floor during inquiries.</li>
              <li>Trained and tutored new staff members to ensure targets and milestones were
                achieved.
              </li>
              <li>Ensured completion of weekly duties such as cash lodgements, stock handling,
                target tracking and daily goal setting.
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </td>
    <tr>
      <td>
        <h2>References & External Links</h2>
      </td>
    </tr>
    <td>
      <table class="nestedTable">
        <tr>
          <th>
            *References available on request.
          </th>
        </tr>
        <tr>
          <td>
            <ul>
              External Links
              <li><a href="https://ie.linkedin.com/in/eoinfar" target="_blank">LinkedIn</a></li>
              <li><a href="https://github.com/eoinfar" target="_blank">GitHub</a></li>
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </table>
{%  endblock  %}
