{#
  Title:      personalInterests.html
  Author:     Eoin Farrell
  DOC:        01/11/2020
#}
{%	extends "base.html"	%}
{% set metaTitle = "personalInterests" %}
{%  block main_content  %}
  <p> Well, first thing's first; I've got about a billion interests/hobbies but there's a
      few I'm insanely passionate about:</p>
  <br>
  First Up:
  <h3>Charity Work!</h3>
  <p>Like my interest in Assistive Tech, my passions are in helping people. A part of
      my contribution to charitable organisations is my 24 hour marathon streams. These are
      24 hour video game sessions that run the full day broadcasted on Twitch.
      <br>
      <br>
      Last August I raised in aid of <a href="https://www.teni.ie/" target="_blank">Trans Equality Network Ireland</a>, <a href="https://www.enableireland.ie/services/assistive-technology" target="_blank">Enable Ireland (For the Assistive Technology division!)</a>
      and I matched donations to €100 to go towards <a href="https://www.gofundme.com/f/direct-provision-drop-offs?utm_source=customer&utm_campaign=p_cp+share-sheet&utm_medium=copy_link_all" target="_blank">Direct Provision Donations</a>, a student-created group that
      donate essential supplies to refugees living in Direct Provision centres across Ireland.
      <br>
      <br>
      <img SRC = "static/resources/img/fundraiser.png" height = "300" width = "900"></img>
      <br>
      Raised over €800 so that meant the world knowing the support is there once someone's thrown something together.
  </p>
  <br>
  Secondly, you might've guessed it:
  <h3>Games!</h3>
  <p>My interest in games starts like most folks from a young age. First game was DOOM back on the PS1 and kept on trucking up
     until I started college and suddenly I've got no time! No but for real, my love is still very much there and using it as a
     platform for my charity is just a way to turn a time-wasting activity into something constructive and helping folks. I love
     both video and board games, and recently (Pre second lockdown!) my friends and I were really digging the XCOM board game.
     <img SRC = "static/resources/img/XCOM.jpg" height = "600" width = "900"></img>
  </p>
{%  endblock  %}
