{#
  Title:      personalPage.html
  Author:     Eoin Farrell
  DOC:        01/11/2020
#}
{%	extends "base.html"	%}
{% set metaTitle = "aboutMe" %}
{%  block main_content  %}
  <p> Well what's there to tell. I'm a 26 year old student currently living in Portlaoise, also known as the Bermuda Triangle of the Midlands.
    What enters Portlaoise will <b>never</b> return so keep your arms and legs inside the vehicle at all times if you're passing through.
    <br>
    <br>
    In my spare time I enjoy travelling, fundraising for charities and playing video games. I like to use the latter two in tandem to put together
    24 hour marathons in which I play games non-stop. While the notion of playing games for a full day might sound like fun, as you can see below
    it can be a tad hellish! If you want to read more on my interests you can <a href="/personalInterests">here</a>.
  </p>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/vzyaYUmnq04"
    frameborder="0" a
    llow="accelerometer; autoplay; clipboard-write; encrypted-media;"
    allowfullscreen>
 </iframe>
 <p> I've also got a dog! What a concept!</p>
 <img SRC = "static/resources/img/jessie.jpg" height = "600" width = "1000"></img>
{%  endblock  %}
