{#
  Title:    techHub.html
  Author:   Eoin Farrell
  DOC:      04/11/2020
  Purpose:  Acts as the hub page for my technology interests.
#}

{%	extends "base.html"	%}
{% set metaTitle = "techHub" %}
{%	block main_content	%}
  <p>Have a look at a few of my passions in technology!</p>
  <div id="techList"
  <table>
    <tr>
      <td>
        <a href="/assistiveTech">
          <h1>
            Assistive Tech
          </h1>
          <img SRC = "static/resources/img/brailleKeyboard.jpg" height = "400" width = "600"></img>
        </a>
      </td>
      <td>
        <a href="/arduino">
          <h1>
            Arduino
          </h1>
          <img SRC = "static/resources/img/arduino2.jpg" height = "400" width = "600"></img>
        </a>
      </td>
      <td>
        <a href="/VR">
          <h1>
            Virtual Reality
          </h1>
          <img SRC = "static/resources/img/CompScienceVR.jpg" height = "400" width = "600"></img>
        </a>
      </td>
    </tr>
  </table>
{%	endblock	%}
