{#
  Title:    VR.html
  Author:   Eoin Farrell
  DOC:      07/11/2020
#}

{%	extends "base.html"	%}

{%	block main_content	%}
  <h3> <i>"Future's Made of Virtual Insanity"</i> - Jamiroquai </h3>
  <br>
  <p>With the lockdown over the summer, I started looking into what people get up to outside of games in VR. As it turns out, the headsets
      have so much versatility when you can apply them to <a href="https://blog.vive.com/us/2019/10/16/designing-products-in-vr/" target="_blank">
        product design</a>, <a href="https://thejournal.com/articles/2018/06/07/vr-interface-lets-students-explore-civil-engineering.aspx" target="_blank">civil engineering</a>
        and so much more.
    <br>
    <img SRC = "static/resources/img/CivilEngineerVR.jpg" height = "400" width = "700"></img>
    <br>
    Being able to visualize, construct and prototype ideas quickly and as cost-efficient as possible are ideas we're taught as third year software engineers.
    While these are concepts I'm sure carry across sectors like product design, VR allows creative teams to showcase their ideas in a tangible and visual manner
    without needing to spend money on physical resources to potential customers.
    <br>
    <br>
    Take one of the biggest racecar companies in the world; McLaren. Using VR, they're able to craft models and design their prototype work without needing large physical
     spaces to work with moulds or produce swathes of conceptual art when simply chasing an idea rather than the finished product.
    <iframe
    width="560" height="315"
    src="https://www.youtube.com/embed/mWaQfjEJIMQ"
    frameborder="0"
    allow="accelerometer;
    autoplay;
    clipboard-write;
    encrypted-media;
    gyroscope;
    picture-in-picture"
    allowfullscreen>
    </iframe>
    <br>
    I mean heck, take a look at my pure enjoyment when experiencing VR for the first time!
    <img SRC = "static/resources/img/meInVR.jpg" height = "500" width = "400"></img>
  </p>
  <br>
{%	endblock	%}
